.app-wrapper {
  display: grid;
  justify-content: center;
  width: 1500px;
  height: 750px;
  padding: 15px 15px;

  grid-template-areas:
    "header header header"
    "nav content content";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

