.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: cornflowerblue;
  height: 100%;
  padding: 30px;
}

.dialog {
  color: white;
  margin-bottom: 5px;
}

.message {
  color: white;
  margin-bottom: 5px;
}
